@inject ILogger<PlantVarietyForm> _logger;
@inject IVerifyService _verifyService;
@inject IPlantService _plantService;
@inject NavigationManager _navigationManager;
@inject IJSRuntime JSRuntime;

<article id="plantVarietyForm">

    @if (isInitialized)
    {
        <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit" class="row g-3">
            <FluentValidationValidator />
            <CustomValidation @ref="customValidation" />
            @*<ValidationSummary />*@
            <div class="row">
                <div class="col-md-2">
                    <label for="heirloom">Is Heirloom?</label>
                    <div class="form-check form-switch">
                        <InputCheckbox class="form-check-input" type="checkbox" role="switch" id="heirloom" @bind-Value="@plantVariety.IsHeirloom" />
                    </div>
                    <div class="invalid-feedback"><ValidationMessage For="@(() => plantVariety.IsHeirloom)" /></div>
                </div>
                <div class="col-md-5">
                    <label for="varietytname" class="form-label">Name</label>
                    <InputText Class="form-control" @bind-Value="@plantVariety.Name" Id="varietytname" />
                    <div class="invalid-feedback"><ValidationMessage For="@(() => plantVariety.Name)" /></div>
                </div>

                <div class="col-md-5">
                    <label for="title" class="form-label">Title</label>
                    <InputText Class="form-control" @bind-Value="@plantVariety.Title" Id="title" />
                    <div class="invalid-feedback"><ValidationMessage For="@(() => plantVariety.Title)" /></div>
                </div>
            </div>

            <div class="row mt-3" id="description">
                <div class="col-11">
                    <FormCard Class="border-info" HeaderClass="text-bg-info">
                        <Header>
                            <label for="Description" class="card-subtitle mb-2 text-light">Description</label>
                        </Header>
                        <Body>
                            <InputTextArea Class="form-control" Id="description" @bind-Value="@plantVariety.Description" rows="3" />
                            <div class="invalid-feedback"><ValidationMessage For="@(() => plantVariety.Description)" /></div>
                        </Body>
                    </FormCard>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <FormCard Class="border-info" HeaderClass="text-bg-info">
                        <Header>
                            <label for="DaysToSproutMin" class="card-subtitle mb-2 text-light">Maturity after(days)</label>
                        </Header>
                        <Body>
                            <div class="d-flex justify-content-start flex-nowrap">
                                <div class="px-2"> <span>From</span> </div>
                                <div class="px-2">
                                    <InputNumber Class="form-control" @bind-Value="@plantVariety.DaysToMaturityMin" id="DaysToSproutMin" />
                                </div>
                                <div class="px-2"> <span>to</span> </div>
                                <div class="px-2">
                                    <InputNumber Class="form-control" @bind-Value="@plantVariety.DaysToMaturityMax" id="DaysToSproutMax" />
                                </div>
                            </div>
                        </Body>
                    </FormCard>
                </div>


                <div class="col-md-3">
                    <FormCard Class="border-info" HeaderClass="text-bg-info">
                        <Header>
                            <label for="height" class="card-subtitle mb-2 text-light">Height(in.)</label>
                        </Header>
                        <Body>
                            <InputNumber Class="form-control" @bind-Value="@plantVariety.HeightInInches" id="height" />
                            <div class="invalid-feedback"><ValidationMessage For="@(() => plantVariety.HeightInInches)" /></div>
                        </Body>
                    </FormCard>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <FormCard Class="border-info" HeaderClass="text-bg-info">
                        <Header>
                            <label for="type" class="card-subtitle mb-2 text-light">Colors</label>
                        </Header>
                        <Body>
                            <div class="tags" role="group" aria-label=">Variety Colors">
                                <ul Id="plant-characteristics-tags">
                                    @foreach (var color in varietyColors)
                                    {
                                        <li style="background-color:@color.BackgroundColor">
                                            <label class="px-1" for="@color.Name" style="@GetStyleBasedOnColor(color)">@color.Name</label>
                                            <input type="checkbox" class="form-check-input" checked="@plantVariety.Colors.Contains(color.Name)" onclick=@(() => ToggleVarietyColor(color)) id="@color.Name">

                                        </li>
                                    }
                                </ul>
                            </div>
                        </Body>
                    </FormCard>
                </div>
                @if (plant.Tags?.Count > 0)
                {
                    <div class="col">
                        <FormCard Class="border-info" HeaderClass="text-bg-info">
                            <Header>
                                <label for="plant-characteristics-tags" class="card-subtitle mb-2 text-light">Characteristics</label>
                            </Header>
                            <Body>
                                <div class="tags" role="group" aria-label="Plant Characteristics">
                                    <ul Id="plant-characteristics-tags">
                                        @foreach (var tag in plant.Tags)
                                        {
                                            <li style="background-color:@plant.Color">
                                                <label class="px-1">@tag</label>
                                                <input type="checkbox" class="form-check-input" checked="@plantVariety.Tags.Contains(tag)" onclick=@(() => ToggleTags(tag)) id="@tag" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </Body>
                        </FormCard>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <FormCard Class="border-info" HeaderClass="text-bg-info">
                        <Header>
                            <label for="Tolerances" class="card-subtitle mb-2 text-light">Tolerances</label>
                        </Header>
                        <Body>
                            @foreach (var tolerance in growToleranceEnums)
                            {
                                <div class="form-check">
                                    <InputCheckbox class="form-check-input" type="checkbox" @bind-Value="tolerance.IsSelected" id="@tolerance.EnumItem.Key" />
                                    <label class="form-check-label" for="@tolerance.EnumItem.Key">
                                        @tolerance.EnumItem.Value
                                    </label>
                                </div>
                            }
                        </Body>
                    </FormCard>
                </div>
                <div class="col-sm-9 col-md-6">
                    <FormCard Class="border-info" HeaderClass="text-bg-info">
                        <Header>
                            <label for="MoistureRequirement" class="card-subtitle mb-2 text-light">Watering Requirements</label>
                        </Header>
                        <Body>
                            <InputRadioGroup @bind-Value="@plantVariety.MoistureRequirement" Name="MoistureRequirement">
                                @foreach (var item in Enum.GetValues<MoistureRequirementEnum>().Where(p => p != MoistureRequirementEnum.Unspecified))
                                {
                                    <div class="form-check form-check-inline">
                                        <InputRadio class="form-check-input" type="radio" name="MoistureRequirement" id="@item" Value="@item" />
                                        <label class="form-check-label" for="@item">@(_verifyService.GetDescription(item))</label>
                                    </div>
                                }
                                <ValidationMessage For="@(() => plantVariety.MoistureRequirement)" />
                            </InputRadioGroup>
                        </Body>
                    </FormCard>
                </div>
                <div class="col-sm-5 col-md-3">
                    <FormCard Class="border-info" HeaderClass="text-bg-info">
                        <Header>
                            <label for="LightRequirement" class="card-subtitle mb-2 text-light">Light Requirements</label>
                        </Header>
                        <Body>
                            <InputRadioGroup @bind-Value="@plantVariety.LightRequirement" Name="LightRequirement">
                                @foreach (var item in Enum.GetValues<LightRequirementEnum>().Where(p => p != LightRequirementEnum.Unspecified))
                                {
                                    <div class="form-check form-check-inline">
                                        <InputRadio class="form-check-input" type="radio" name="LightRequirement" id="@item" Value="@item" />
                                        <label class="form-check-label" for="@item">@(_verifyService.GetDescription(item))</label>
                                    </div>
                                }
                                <ValidationMessage For="@(() => plantVariety.LightRequirement)" />
                            </InputRadioGroup>
                        </Body>
                    </FormCard>
                </div>
            </div>

            <div class="col-md-10">
                <FormCard Class="border-info" HeaderClass="text-bg-info">
                    <Header>
                        <label for="sources" class="card-subtitle mb-2 text-light">Source(s)</label>
                    </Header>
                    <Body>
                        <div class="sources" role="group" aria-label="source">
                            <input class="form-control" @bind:get="newSource" @bind:set="OnSourceInput" @ref="inputSource" />
                            <ul Id="sources">
                                @foreach (var source in plantVariety.Sources)
                                {
                                    <li>@RenderSource(source)<a href="@source" target="_blank" hidden="@RenderSourceAsHyperlink(source)">@source</a><a role='button' onclick=@(() => RemoveSource(source))>×</a></li>
                                }
                            </ul>
                            
                        </div>
                    </Body>
                </FormCard>
            </div>

            <div class="col-12">
                <div class="modal-footer justify-content-between">
                    @* <button type="button" class="btn btn-default text-danger disabled">Delete</button>*@
                    <span>
                        <button type="submit" class="btn btn-primary" title="Save Changes">Save <span class="bi bi-file-earmark-post">&nbsp;</span></button>
                        <button type="button" class="btn btn-danger" title="Cancel" @onclick="@(() => OnClose())">Cancel <span class="bi bi-x-circle">&nbsp;</span></button>
                    </span>
                </div>
            </div>
        </EditForm>
    }

</article>

@code {
    [Parameter] public Func<Task> OnClose { get; set; }

    private PlantModel plant { get; set; }
    private PlantVarietyModel plantVariety { get; set; }
    private ElementReference inputSource;
    private string newSource = string.Empty;

    private bool isInitialized = false;
    private bool isEdit = false;
    private CustomValidation customValidation;
    private EditContext editContext;

    protected IEnumerable<Color> varietyColors { get; set; }
    public List<CheckableEnum> growToleranceEnums { get; set; } = new();

    public void Initialize(PlantVarietyModel plantVariety, PlantModel plant)
    {
        varietyColors = _verifyService.GetPlantVarietyColors().Where(c => plant.VarietyColors.Any(p => p == c.Name));
        foreach (var code in _verifyService.GetCodeList<GrowToleranceEnum>(true))
        {
            growToleranceEnums.Add(new CheckableEnum(code));
        }

        this.plant = plant;
        if (plantVariety == null)
        {
            this.plantVariety = new PlantVarietyModel();
            this.plantVariety.PlantId = this.plant.PlantId;
            this.plantVariety.LightRequirement = this.plant.LightRequirement;
            this.plantVariety.MoistureRequirement = this.plant.MoistureRequirement;
            this.plantVariety.GrowTolerance = this.plant.GrowTolerance;
            this.plantVariety.Colors = new();
            this.plantVariety.Tags = new();
            isEdit = false;
        }
        else
        {
            this.plantVariety = plantVariety;
            isEdit = true;

        }
        growToleranceEnums.ForEach(item => item.IsSelected = this.plantVariety.GrowTolerance.HasFlag(Enum.Parse<GrowToleranceEnum>(item.EnumItem.Key)));
        editContext = new(this.plantVariety);
        editContext.SetFieldCssClassProvider(new BootstrapValidationFieldClassProvider());
        isInitialized = true;
        StateHasChanged();
    }


    protected async Task HandleValidSubmit()
    {
        _logger.Log(LogLevel.Information, "Plant Variety Form passed valdiate");

        customValidation?.ClearErrors();

        ApiResponse response = (isEdit) ? await _plantService.UpdatePlantVariety(plantVariety) : await _plantService.CreatePlantVariety(plantVariety);

        if (response.ValidationProblems != null)
        {
            customValidation?.DisplayErrors(response.ValidationProblems);
        }

        if (response.IsSuccess)
        {
            await OnClose();
        }
    }

    private string GetStyleBasedOnColor(Color color)
    {
        if (plantVariety.Colors.Contains(color.Name))
        {
            return $"color:{color.FontColor}; background-color:{color.BackgroundColor}";
        }
        return string.Empty;
    }

    private void ToggleVarietyColor(Color color)
    {
        if (plantVariety.Colors.Contains(color.Name))
        {
            plantVariety.Colors.Remove(color.Name);
        }
        else
        {
            plantVariety.Colors.Add(color.Name);
        }
        StateHasChanged();
    }

    private void ToggleTags(string tag)
    {
        if (plantVariety.Tags.Contains(tag))
        {
            plantVariety.Tags.Remove(tag);
        }
        else
        {
            plantVariety.Tags.Add(tag);
        }
        StateHasChanged();
    }

    private void OnSourceInput(string value)
    {
        plantVariety.Sources.Add(value.Trim());
        newSource = string.Empty;
        inputSource.FocusAsync();
    }
    private void RemoveSource(string source)
    {
        plantVariety.Sources.RemoveAll(t => t == source);
        StateHasChanged();
    }

    private string RenderSource(string source)
    {
        if (string.IsNullOrEmpty(source) || !source.StartsWith("http"))
        {
            return source;
        }
        else
        {
            return string.Empty;
        }
    }

    private bool RenderSourceAsHyperlink(string source)
    {
        return !(!string.IsNullOrEmpty(source) && source.StartsWith("http"));
    }

}
